@model IEnumerable<app2.Models.Bookrec>

@{
    ViewBag.Title = "Shelf";
}

<h2>Book List</h2>
@using (Html.BeginForm("Index", "Bookrecs", FormMethod.Get))
{
    <p>
        Search By Title: @Html.TextBox("searchstring")
        <input type="submit" value="Filter" />
    </p>}

<p>
    @Html.ActionLink("Add New Book", "Create")
    <h6><b>Click a Title to see details</b></h6>

</p>
<table class="table">
    <tr>
        <th>
            S/N
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>
    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {
        <tr>
            @{
                i++;
            }
            <td>
                @i
            </td>
            <td>
                @using (Html.BeginForm("bookdetails", "Bookrecs", FormMethod.Post))
                {
                    <input type="hidden" name="title" value="@item.Title" />
                    <input type="submit" value="@item.Title" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>


@if (ViewBag.bookdetails != null)
{<div>
        <h3>Book Details</h3>
        <h4>Title:</h4>@ViewBag.bookdetails.Title
        <h4>Author:</h4>@ViewBag.bookdetails.Author
        <h4>Number of Pages:</h4>@ViewBag.bookdetails.PageNo
        <h4>ISBN:</h4>@ViewBag.bookdetails.ISBN
        <h4>Barcode:</h4>@ViewBag.bookdetails.BarCode
        <h4>Publisher:</h4>@ViewBag.bookdetails.Publisher
        <h4>Date of Publication:</h4>@ViewBag.bookdetails.PublishDate

    </div>
}


